// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #e8e9eb;
$light-gray: #F4F4F4;
$info-gray: #888888;
$dark-gray: #3D3D3D;

$dark: black;
$light: white;

$neon-text-color: #f40;
$neon-border-color: #08f;
