// Specific CSS for your home-page
.home-font-size p {
  font-size: 30px;
  color: $white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.home-banner {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
}

.home-title {
  height: 80vh;
  padding-top: 30vh;
  text-align: center;
}

.flick-title h1, .flick-title h2 {
  font-size: 75px;
  font-weight: 200;
  font-style: italic;
  color: $white;
  padding: 15px 15px 15px 15px;
  border: 0rem solid $white;
  border-radius: 15px;
  text-transform: uppercase;
  animation: flicker 1.5s infinite alternate;
  position: center;
  text-align: center;
  margin: 0 auto;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  &::-moz-selection, &::selection {
    background-color: $neon-border-color;
    color: $neon-text-color;
  }
  &:focus {
    outline: center;
  }
}

.flick-title h2 {
  font-size: 40px;
}


/* Animate neon flicker */
@keyframes flicker {

  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {

    text-shadow:
      -3px -3px 14px $white,
      3px 3px 14px $white,
      0 0 28px $neon-text-color,
      0 0 56px $neon-text-color,
      0 0 84px $neon-text-color,
      0 0 112px $neon-text-color,
      0 0 140px $neon-text-color;

    box-shadow:
      0 0 7px $white,
      inset 0 0 7px $white,
      0 0 28px $neon-border-color,
      inset 0 0 28px $neon-border-color,
      0 0 48px $neon-border-color,
      inset 0 0 48px $neon-border-color;
  }

  20%, 24%, 55% {
    text-shadow: none;
    box-shadow: none;
  }
}
