<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/deumrs4dd/image/upload/v1611754380/Sound%20Mate/download_1_yhlk6p.jpg);">
  <div class="container">
    <h1>We are SoundMate</h1>
      <p>Book equipment and audio equipment from people near you</p>
    <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-primary" %>

  </div>
</div>
