// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

a.no-decoration {
  text-decoration: none;
  &:hover, &:active, &:focus {
    transform: scale(1.05);
    transition: transform 0.6s 0.4s;
  }
}